.brand-wrapper {
  height: 100%;
}

.fixed-wrapper {
  height: 90px;
}


.el-scrollbar{
  width: 100%;
  height:  calc(100% - 100px);
  .el-scrollbar__wrap {
   overflow-x: hidden;
  }
}
.page-box {
  margin-top: 10px;
  text-align: center;
}
.avatar-uploader .el-upload {
  border: 1px dashed #d9d9d9;
  border-radius: 6px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
}
.avatar-uploader .el-upload:hover {
  border-color: #409EFF;
}
.avatar-uploader-icon {
  font-size: 28px;
  color: #8c939d;
  width: 110px;
  height: 110px;
  line-height: 110px;
  text-align: center;

}

.avatar {
  width: 110px;
  height: 110px;
  display: block;
}
